# Secrets
.env
.secrets.toml
.vault_pass

# IDE files
.vscode 

# Project artifacts
.venv
__pycache__
logs
celerybeat-schedule*
settings.local.toml

# Ansible-related
.ansible
deploy/inventory.ini
deploy/vault